@model CommunityViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create New Community";
}
<h2>Create Community</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <table>
        <tr>
            <td><label asp-for="Name"></label></td> 
            <td><input asp-for="Name" /></td>
            <td><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td><label asp-for="SubAreaId"></label></td>
            <td><select asp-for="SubAreaId" asp-items=@((SelectList)ViewData["SUBAREA_NAMES"])></select></td>
        </tr>
    </table>
    <input type="submit" value="Create" />
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
