@model IEnumerable<DashBoard.Models.Section>
<p>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h1>
        Sections in @ViewData["REGION_NAME"]
    </h1>
    <div>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Zone</th>
            </tr>
                @foreach (var sect in Model)
                {
                    <tr>
                        <td>@sect.Id</td>
                        <td>@sect.Name</td>
                        <td>@sect.Zone</td>
                    </tr>
                }
        </table>
    </div>
</p>