################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FaciTech.Apartment/.vs/FaciTech.Apartment/v15
