@model int
@{
    
    ViewData["Title"] = "Comunity Listing";
    ViewData["Navbar-Title"] = "Placeholder " + Model;
    ViewData["Sidebar-Selection"] = "placeholder" + Model;
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Placeholder @Model</h4>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>

    </div>
</div>
