<form id="apartmentUnitForm">
    <div id="gridActions_units" class="row hidden">
        <div class="col-sm-12">
            <button id="addToUnit" class="btn btn-primary pull-right datatable-button">Add <i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <table id="edit_apartment_units">
                <thead>
                    <tr>
                        <th>Flat Number</th>
                        <th>Block</th>
                        <th>Floor</th>
                        <th>Specification</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</form>
<script src="~/js/apartmentunit.editable.datatable.js"></script>