<form id="apartmentAssociationForm">
    <div id="gridActions_aa" class="row hidden">
        <div class="col-sm-12">
            <button id="addToAssociation" class="btn btn-primary pull-right datatable-button">Add <i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <table id="edit_apartment_association">
                <thead>
                    <tr>
                        <th>Resident Name</th>
                        <th>Association Role</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</form>
<script src="~/js/apartmentassociation.editable.datatable.js"></script>