@model SectionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Delete Block</h2>
<form asp-action="Delete" method="post" asp-controller="Blocks">
    <div>Name: @Model.Name</div>
    <input type="submit" value="Delete" />
</form>
<div>
    <a asp-action="Details" asp-controller="Communities" asp-route-communityId="@Model.CommunityId">Back to Blocks List</a>
</div>
