@model IEnumerable<SectionViewModel>
<p>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h1>
        The Blocks page.
    </h1>
    <div>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var block in Model)
            {
                <tr>
                    <td>@block.Id</td>
                    <td>@block.Name</td>
                    <td><a asp-action="Edit" asp-route-id="@block.Id" asp-controller="Blocks">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@block.Id" asp-controller="Blocks">Delete</a></td>
                </tr>
            }
        </table>
    </div>
</p>